{% extends "home/base.html" %}
{% block title %}FazzTools Home
{% endblock %}
{% block content %}
<div>
    <h2  style="text-align: center">Fazz Tools Home</h2>
    <div class="row">
        <div class="col-4" style="text-align: center">
            {% if request.session.altId %}
                <form method="post" style="display: inline-block">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-secondary" id="alt-tracker-button" name="alt-tracker-button" value="Alt Tracker" />
                </form>
            {% else %}
                <a href="{% url 'wowprof_alts' %}" class="btn btn-secondary">Alt Tracker</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
