{% extends "home/base.html" %}
{% block title %}WoWProf Alts
{% endblock %}
{% load static %}
{% load alttracker_filters %}
{% block content %}
<div class="price-list">
    <h2 id="price-list-header"  style="text-align: center">World of Warcraft - Alt Tracker</h2>
    <div class="row">
        <a href="{% url 'wowprof_home' %}" class="btn btn-secondary">FazzTools Home</a>
        <a href="{% url 'wowprof_alts' %}" class="btn btn-secondary">Alt Tracker Home</a>
        <form method="post">
            {% csrf_token %}
            <input type="submit" id="wowprof-alts-refresh-button" name="wowprof-alts-refresh-button" value="Sync Characters" />
        </form>
        <form method="post">
            {% csrf_token %}
            <input type="submit" id="wowprof-alts-refresh-data-button" name="wowprof-alts-refresh-data-button" value="Refresh Data" />
        </form>
        <div class="col-12" style="text-align: center">
            <table id="alts-table" style="margin:auto; text-align:center">
                <colgroup>
                    <col span="5">
                    <col span="5" style="background-color:grey">
                </colgroup>
                <tr>
                    <th style="width:auto">#</th>
                    <th onclick="sortTableSpecial(1)"><img src="{% static 'wowprof/images/horde_alliance.png' %}" alt="Alliance and Horde faction logos" style="width:60px;height:30px"> <i class="fas fa-sort"></i></th>
                    <th style="width:auto">Level <i class="fas fa-sort"></i></th>
                    <th style="width:auto">Name <i class="fas fa-sort"></i></th>
                    <th style="width:auto">Realm <i class="fas fa-sort"></i></th>
                    <th style="width:auto">Class <i class="fas fa-sort"></i></th>
                    <th style="width:auto">Mount <i class="fas fa-sort"></th>
                    <th style="width:auto">Garrison <i class="fas fa-sort"></th>
                    <th style="width:auto">MT <i class="fas fa-sort"></th>
                    <th style="width:auto">SM <i class="fas fa-sort"></th>
                    <th style="width:auto">Prof1 <i class="fas fa-sort"></i></th>
                    <th style="width:auto">Prof2 <i class="fas fa-sort"></i></th>
                    <th style="width:auto">More</th>
                </tr>
                {% for a in altData %}
                <tr>
                    <td>{{ a.index }}</td>
                    {% if a.altFaction == 'Alliance' %}
                        <td><img src="{% static 'wowprof/images/alliance.png' %}" alt="Alliance logo" style="width:30px;height:30px"></td>
                    {% else %}
                        <td><img src="{% static 'wowprof/images/horde.png' %}" alt="Horde logo" style="width:30px;height:30px"></td>
                    {% endif %}
                    <td>{{ a.altLevel }}</td>
                    <td>{{ a.altName }}</td>
                    <td>{{ a.altRealm }}</td>
                    <td>{{ a.get_altClass_display }}</td>
                    <td>{{ a.altcustom.get_mount_display }}</td>
                    <td>{{ a.altcustom.get_garrison_display }}</td>
                    <td>{{ a.altcustom.get_mageTower_display }}</td>
                    <td>{{ a.altcustom.get_shadowmourne_display }}</td>
                    {% if a.altcustom.get_profession1_display == 'Missing' or not a.altcustom %}
                        <td><a>{{ a.altcustom.get_profession1_display }}</a></td>
                    {% else %}
                        <td><a href="{% url 'wowprof_alts_profession' name=a.altName|slug realm=a.altRealm|slug profession=a.altcustom.get_profession1_display|slug %}">{{ a.altcustom.get_profession1_display }}</a></td>
                    {% endif %}
                    {% if a.altcustom.get_profession2_display == 'Missing' or not a.altcustom %}
                        <td><a>{{ a.altcustom.get_profession2_display }}</a></td>
                    {% else %}
                        <td><a href="{% url 'wowprof_alts_profession' name=a.altName|slug realm=a.altRealm|slug profession=a.altcustom.get_profession2_display|slug %}">{{ a.altcustom.get_profession2_display }}</a></td>
                    {% endif %}
                    <td><a href="{% url 'wowprof_alts_more' name=a.altName|slug realm=a.altRealm|slug %}"><button type="button">>></button></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
