{% extends "home/base.html" %}
{% block title %}WoWProf Alts
{% endblock %}
{% load static %}
{% load alttracker_filters %}
{% block content %}
<div>
    <h2  style="text-align: center">World of Warcraft - Alt Tracker</h2>
    <div class="row" style="margin: 15px">
        <div class="col-6">
            <a href="{% url 'wowprof_home' %}" class="btn btn-secondary">FazzTools Home</a>
            <a href="{% url 'wowprof_alts' %}" class="btn btn-secondary">Alt Tracker Home</a>
            <a href="{% url 'wowprof_checker' %}" class="btn btn-secondary">Alt Checker</a>
        </div>
        <div class="col-6" style="text-align: right">
            <form method="post" style="display: inline-block">
                {% csrf_token %}
                <input type="submit" class="btn btn-secondary" id="wowprof-alts-refresh-button" name="wowprof-alts-refresh-button" value="Sync Characters" />
            </form>
            <form method="post" style="display: inline-block">
                {% csrf_token %}
                <input type="submit" class="btn btn-secondary" id="wowprof-alts-refresh-data-button" name="wowprof-alts-refresh-data-button" value="Refresh Data" />
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="text-align: center">
            <table id="alts-table" style="margin:auto; text-align:center">
                <colgroup>
                    <col span="5">
                    <col span="5" style="background-color:grey">
                </colgroup>
                <tr>
                    <th>#</th>
                    <th onclick="sortTableSpecial(1)"><img src="{% static 'wowprof/images/horde_alliance.png' %}" alt="Alliance and Horde faction logos" style="width:60px;height:30px"> <i class="fas fa-sort"></i></th>
                    <th>Level <i class="fas fa-sort"></i></th>
                    <th>Name <i class="fas fa-sort"></i></th>
                    <th>Realm <i class="fas fa-sort"></i></th>
                    <th>Class <i class="fas fa-sort"></i></th>
                    <th>Prof1 <i class="fas fa-sort"></i></th>
                    <th>Prof2 <i class="fas fa-sort"></i></th>
                    <th>More</th>
                </tr>
                {% for a in altData %}
                <tr>
                    <td>{{ a.index }}</td>
                    {% if a.altFaction == 'Alliance' %}
                        <td><img src="{% static 'wowprof/images/alliance.png' %}" alt="Alliance logo" style="width:30px;height:30px"></td>
                    {% else %}
                        <td><img src="{% static 'wowprof/images/horde.png' %}" alt="Horde logo" style="width:30px;height:30px"></td>
                    {% endif %}
                    <td>{{ a.altLevel }}</td>
                    <td>{{ a.altName }}</td>
                    <td>{{ a.altRealm }}</td>
                    <td>{{ a.get_altClass_display }}</td>
                    {% if a.altcustom.get_profession1_display == 'Missing' or not a.altcustom %}
                        <td><a>{{ a.altcustom.get_profession1_display }}</a></td>
                    {% else %}
                        <td><a href="{% url 'wowprof_alts_profession' name=a.altName|slug realm=a.altRealm|slug profession=a.altcustom.get_profession1_display|slug %}">{{ a.altcustom.get_profession1_display }}</a></td>
                    {% endif %}
                    {% if a.altcustom.get_profession2_display == 'Missing' or not a.altcustom %}
                        <td><a>{{ a.altcustom.get_profession2_display }}</a></td>
                    {% else %}
                        <td><a href="{% url 'wowprof_alts_profession' name=a.altName|slug realm=a.altRealm|slug profession=a.altcustom.get_profession2_display|slug %}">{{ a.altcustom.get_profession2_display }}</a></td>
                    {% endif %}
                    <td><a href="{% url 'wowprof_alts_more' name=a.altName|slug realm=a.altRealm|slug %}"><button type="button">>></button></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
