{% extends "home/base.html" %}
{% block title %}WoWProf Alt Profession
{% endblock %}
{% load static %}
{% load alttracker_filters %}
{% block content %}
<div class="price-list">
    <h2 id="price-list-header"  style="text-align: center">WoW Alt More Details</h2>
    <div class="row">
        <a href="{% url 'wowprof_alts' %}" class="btn btn-secondary">Home</a>
    </div>
    <div id="character-image" style="width: 1600px; height: 1200px; position: absolute; top: -90px; z-index: -1; left: 50%; transform: translate(-50%); border: none">
        <img src="{{ media.mainRaw }}" style="width: 100%; height: 100%; max-width: none">
    </div>
    <div class="row" id="bgtest">
        <div class="col-6" style="text-align: left">
            <div class="row">
                <div class="col-12">
                    <div class="equipment-slot">
                    {% if equipment.HEAD %}
                        <img class="{{ equipment.HEAD.quality|slug }}" src="{{ equipment.HEAD.equipment.icon }}">
                    {% else %}
                        <img src="{% static 'wowprof/images/paperdoll/UI-PaperDoll-Slot-Head.png' %}">
                    {% endif %}
                    </div>
                    <div class="equipment-slot">
                        <div class="{{ equipment.HEAD.quality|slug }}-text">{{ equipment.HEAD.equipment.name }}</div>
                        <div>
                            <div class="equipment-slot-text">{{ equipment.HEAD.item_level }}</div>
                            {% if equipment.HEAD.sockets %}
                                {% for socket in equipment.HEAD.sockets %}
                                    <div class="equipment-slot-text"><img src="{% static 'wowprof/images/UI-EmptySocket-Prismatic.png' %}"></div>
                                {% endfor %}
                            {% endif %}
                            {% if equipment.HEAD.enchants %}
                                {% for enchant in equipment.HEAD.enchants %}
                                    <div class="equipment-slot-text enchant">{{ enchant.display_string }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="equipment-slot">
                    {% if equipment.NECK %}
                        <img class="{{ equipment.NECK.quality|slug }}" src="{{ equipment.NECK.equipment.icon }}">
                    {% else %}
                        <img src="{% static 'wowprof/images/paperdoll/UI-PaperDoll-Slot-Neck.png' %}">
                    {% endif %}
                    </div>
                    <div class="equipment-slot">
                        <div>{{ equipment.NECK.equipment.name }}</div>
                        <div>
                            <div class="equipment-slot-text">{{ equipment.NECK.item_level }}</div>
                            {% if equipment.NECK.sockets %}
                                {% for socket in equipment.NECK.sockets %}
                                    <div class="equipment-slot-text"><img src="{% static 'wowprof/images/UI-EmptySocket-Prismatic.png' %}"></div>
                                {% endfor %}
                            {% endif %}
                            {% if equipment.NECK.enchants %}
                                {% for enchant in equipment.NECK.enchants %}
                                    <div class="equipment-slot-text enchant">{{ enchant.display_string }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="equipment-slot">
                    {% if equipment.SHOULDER %}
                        <img class="{{ equipment.SHOULDER.quality|slug }}" src="{{ equipment.SHOULDER.equipment.icon }}">
                    {% else %}
                        <img src="{% static 'wowprof/images/paperdoll/UI-PaperDoll-Slot-Shoulder.png' %}">
                    {% endif %}
                    </div>
                    <div class="equipment-slot">
                        <div>{{ equipment.SHOULDER.equipment.name }}</div>
                        <div>
                            <div class="equipment-slot-text">{{ equipment.SHOULDER.item_level }}</div>
                            {% if equipment.SHOULDER.sockets %}
                                {% for socket in equipment.SHOULDER.sockets %}
                                    <div class="equipment-slot-text"><img src="{% static 'wowprof/images/UI-EmptySocket-Prismatic.png' %}"></div>
                                {% endfor %}
                            {% endif %}
                            {% if equipment.SHOULDER.enchants %}
                                {% for enchant in equipment.SHOULDER.enchants %}
                                    <div class="equipment-slot-text enchant">{{ enchant.display_string }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="equipment-slot">
                    {% if equipment.BACK %}
                        <img class="{{ equipment.BACK.quality|slug }}" src="{{ equipment.BACK.equipment.icon }}">
                    {% else %}
                        <img src="{% static 'wowprof/images/paperdoll/UI-PaperDoll-Slot-Chest.png' %}">
                    {% endif %}
                    </div>
                    <div class="equipment-slot">
                        <div>{{ equipment.BACK.equipment.name }}</div>
                        <div>
                            <div class="equipment-slot-text">{{ equipment.BACK.item_level }}</div>
                            {% if equipment.BACK.sockets %}
                                {% for socket in equipment.BACK.sockets %}
                                    <div class="equipment-slot-text"><img src="{% static 'wowprof/images/UI-EmptySocket-Prismatic.png' %}"></div>
                                {% endfor %}
                            {% endif %}
                            {% if equipment.BACK.enchants %}
                                {% for enchant in equipment.BACK.enchants %}
                                    <div class="equipment-slot-text enchant">{{ enchant.display_string }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="equipment-slot">
                    {% if equipment.CHEST %}
                        <img class="{{ equipment.CHEST.quality|slug }}" src="{{ equipment.CHEST.equipment.icon }}">
                    {% else %}
                        <img src="{% static 'wowprof/images/paperdoll/UI-PaperDoll-Slot-Chest.png' %}">
                    {% endif %}
                    </div>
                    <div class="equipment-slot">
                        <div>{{ equipment.CHEST.equipment.name }}</div>
                        <div>
                            <div class="equipment-slot-text">{{ equipment.CHEST.item_level }}</div>
                            {% if equipment.CHEST.sockets %}
                                {% for socket in equipment.CHEST.sockets %}
                                    <div class="equipment-slot-text"><img src="{% static 'wowprof/images/UI-EmptySocket-Prismatic.png' %}"></div>
                                {% endfor %}
                            {% endif %}
                            {% if equipment.CHEST.enchants %}
                                {% for enchant in equipment.CHEST.enchants %}
                                    <div class="equipment-slot-text enchant">{{ enchant.display_string }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="equipment-slot">
                    {% if equipment.SHIRT %}
                        <img class="{{ equipment.SHIRT.quality|slug }}" src="{{ equipment.SHIRT.equipment.icon }}"> 
                    {% else %}
                        <img src="{% static 'wowprof/images/paperdoll/UI-PaperDoll-Slot-Shirt.png' %}">
                    {% endif %}
                    </div>
                    <div class="equipment-slot">
                        <div>{{ equipment.SHIRT.equipment.name }}</div>
                        <div>
                            <div class="equipment-slot-text">{{ equipment.SHIRT.item_level }}</div>
                            {% if equipment.SHIRT.sockets %}
                                {% for socket in equipment.SHIRT.sockets %}
                                    <div class="equipment-slot-text"><img src="{% static 'wowprof/images/UI-EmptySocket-Prismatic.png' %}"></div>
                                {% endfor %}
                            {% endif %}
                            {% if equipment.SHIRT.enchants %}
                                {% for enchant in equipment.SHIRT.enchants %}
                                    <div class="equipment-slot-text enchant">{{ enchant.display_string }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="equipment-slot">
                    {% if equipment.TABARD %}
                        <img class="{{ equipment.TABARD.quality|slug }}" src="{{ equipment.TABARD.equipment.icon }}">
                    {% else %}
                        <img src="{% static 'wowprof/images/paperdoll/UI-PaperDoll-Slot-Tabard.png' %}">
                    {% endif %}
                    </div>
                    <div class="equipment-slot">
                        <div>{{ equipment.TABARD.equipment.name }}</div>
                        <div>
                            <div class="equipment-slot-text">{{ equipment.TABARD.item_level }}</div>
                            {% if equipment.TABARD.sockets %}
                                {% for socket in equipment.TABARD.sockets %}
                                    <div class="equipment-slot-text"><img src="{% static 'wowprof/images/UI-EmptySocket-Prismatic.png' %}"></div>
                                {% endfor %}
                            {% endif %}
                            {% if equipment.TABARD.enchants %}
                                {% for enchant in equipment.TABARD.enchants %}
                                    <div class="equipment-slot-text enchant">{{ enchant.display_string }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="equipment-slot">
                    {% if equipment.WRIST %}
                        <img class="{{ equipment.WRIST.quality|slug }}" src="{{ equipment.WRIST.equipment.icon }}">
                    {% else %}
                        <img src="{% static 'wowprof/images/paperdoll/UI-PaperDoll-Slot-Waist.png' %}">
                    {% endif %}
                    </div>
                    <div class="equipment-slot">
                        <div>{{ equipment.WRIST.equipment.name }}</div>
                        <div>
                            <div class="equipment-slot-text">{{ equipment.WRIST.item_level }}</div>
                            {% if equipment.WRIST.sockets %}
                                {% for socket in equipment.WRIST.sockets %}
                                    <div class="equipment-slot-text"><img src="{% static 'wowprof/images/UI-EmptySocket-Prismatic.png' %}"></div>
                                {% endfor %}
                            {% endif %}
                            {% if equipment.WRIST.enchants %}
                                {% for enchant in equipment.WRIST.enchants %}
                                    <div class="equipment-slot-text enchant">{{ enchant.display_string }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6" style="text-align: right">
            <div class="row">
                <div class="col-12">
                    <div class="equipment-slot">
                        <div>{{ equipment.HANDS.equipment.name }}</div>
                        <div>
                            {% if equipment.HANDS.enchants %}
                                {% for enchant in equipment.HANDS.enchants %}
                                    <div class="equipment-slot-text enchant">{{ enchant.display_string }}</div>
                                {% endfor %}
                            {% endif %}
                            {% if equipment.HANDS.sockets %}
                                {% for socket in equipment.HANDS.sockets %}
                                    <div class="equipment-slot-text"><img src="{% static 'wowprof/images/UI-EmptySocket-Prismatic.png' %}"></div>
                                {% endfor %}
                            {% endif %}
                            <div class="equipment-slot-text">{{ equipment.HANDS.item_level }}</div>
                        </div>
                    </div>
                    <div class="equipment-slot">
                    {% if equipment.HANDS %}
                        <img class="{{ equipment.HANDS.quality|slug }}" src="{{ equipment.HANDS.equipment.icon }}">
                    {% else %}
                        <img src="{% static 'wowprof/images/paperdoll/UI-PaperDoll-Slot-Hands.png' %}">
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="equipment-slot">
                        <div>{{ equipment.WAIST.equipment.name }}</div>
                        <div>
                            {% if equipment.WAIST.enchants %}
                                {% for enchant in equipment.WAIST.enchants %}
                                    <div class="equipment-slot-text enchant">{{ enchant.display_string }}</div>
                                {% endfor %}
                            {% endif %}
                            {% if equipment.WAIST.sockets %}
                                {% for socket in equipment.WAIST.sockets %}
                                    <div class="equipment-slot-text"><img src="{% static 'wowprof/images/UI-EmptySocket-Prismatic.png' %}"></div>
                                {% endfor %}
                            {% endif %}
                            <div class="equipment-slot-text">{{ equipment.WAIST.item_level }}</div>
                        </div>
                    </div>
                    <div class="equipment-slot">
                    {% if equipment.WAIST %}
                        <img class="{{ equipment.WAIST.quality|slug }}" src="{{ equipment.WAIST.equipment.icon }}">
                    {% else %}
                        <img src="{% static 'wowprof/images/paperdoll/UI-PaperDoll-Slot-Waist.png' %}">
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="equipment-slot">
                        <div>{{ equipment.LEGS.equipment.name }}</div>
                        <div>
                            {% if equipment.LEGS.enchants %}
                                {% for enchant in equipment.LEGS.enchants %}
                                    <div class="equipment-slot-text enchant">{{ enchant.display_string }}</div>
                                {% endfor %}
                            {% endif %}
                            {% if equipment.LEGS.sockets %}
                                {% for socket in equipment.LEGS.sockets %}
                                    <div class="equipment-slot-text"><img src="{% static 'wowprof/images/UI-EmptySocket-Prismatic.png' %}"></div>
                                {% endfor %}
                            {% endif %}
                            <div class="equipment-slot-text">{{ equipment.LEGS.item_level }}</div>
                        </div>
                    </div>
                    <div class="equipment-slot">
                    {% if equipment.LEGS %}
                        <img class="{{ equipment.LEGS.quality|slug }}" src="{{ equipment.LEGS.equipment.icon }}">
                    {% else %}
                        <img src="{% static 'wowprof/images/paperdoll/UI-PaperDoll-Slot-Legs.png' %}">
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="equipment-slot">
                        <div>{{ equipment.FEET.equipment.name }}</div>
                        <div>
                            {% if equipment.FEET.enchants %}
                                {% for enchant in equipment.FEET.enchants %}
                                    <div class="equipment-slot-text enchant">{{ enchant.display_string }}</div>
                                {% endfor %}
                            {% endif %}
                            {% if equipment.FEET.sockets %}
                                {% for socket in equipment.FEET.sockets %}
                                    <div class="equipment-slot-text"><img src="{% static 'wowprof/images/UI-EmptySocket-Prismatic.png' %}"></div>
                                {% endfor %}
                            {% endif %}
                            <div class="equipment-slot-text">{{ equipment.FEET.item_level }}</div>
                        </div>
                    </div>
                    <div class="equipment-slot">
                    {% if equipment.FEET %}
                        <img class="{{ equipment.FEET.quality|slug }}" src="{{ equipment.FEET.equipment.icon }}">
                    {% else %}
                        <img src="{% static 'wowprof/images/paperdoll/UI-PaperDoll-Slot-Feet.png' %}">
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="equipment-slot">
                        <div>{{ equipment.FINGER_1.equipment.name }}</div>
                        <div>
                            {% if equipment.FINGER_1.enchants %}
                                {% for enchant in equipment.FINGER_1.enchants %}
                                    <div class="equipment-slot-text enchant">{{ enchant.display_string }}</div>
                                {% endfor %}
                            {% endif %}
                            {% if equipment.FINGER_1.sockets %}
                                {% for socket in equipment.FINGER_1.sockets %}
                                    <div class="equipment-slot-text"><img src="{% static 'wowprof/images/UI-EmptySocket-Prismatic.png' %}"></div>
                                {% endfor %}
                            {% endif %}
                            <div class="equipment-slot-text">{{ equipment.FINGER_1.item_level }}</div>
                        </div>
                    </div>
                    <div class="equipment-slot">
                    {% if equipment.FINGER_1 %}
                        <img class="{{ equipment.FINGER_1.quality|slug }}" src="{{ equipment.FINGER_1.equipment.icon }}">
                    {% else %}
                        <img src="{% static 'wowprof/images/paperdoll/UI-PaperDoll-Slot-Finger.png' %}">
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="equipment-slot">
                        <div>{{ equipment.FINGER_2.equipment.name }}</div>
                        <div>
                            {% if equipment.FINGER_2.enchants %}
                                {% for enchant in equipment.FINGER_2.enchants %}
                                    <div class="equipment-slot-text enchant">{{ enchant.display_string }}</div>
                                {% endfor %}
                            {% endif %}
                            {% if equipment.FINGER_2.sockets %}
                                {% for socket in equipment.FINGER_2.sockets %}
                                    <div class="equipment-slot-text"><img src="{% static 'wowprof/images/UI-EmptySocket-Prismatic.png' %}"></div>
                                {% endfor %}
                            {% endif %}
                            <div class="equipment-slot-text">{{ equipment.FINGER_2.item_level }}</div>
                        </div>
                    </div>
                    <div class="equipment-slot">
                    {% if equipment.FINGER_2 %}
                        <img class="{{ equipment.FINGER_2.quality|slug }}" src="{{ equipment.FINGER_2.equipment.icon }}">
                    {% else %}
                        <img src="{% static 'wowprof/images/paperdoll/UI-PaperDoll-Slot-Finger.png' %}">
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="equipment-slot">
                        <div>{{ equipment.TRINKET_1.equipment.name }}</div>
                        <div>
                            {% if equipment.TRINKET_1.enchants %}
                                {% for enchant in equipment.TRINKET_1.enchants %}
                                    <div class="equipment-slot-text enchant">{{ enchant.display_string }}</div>
                                {% endfor %}
                            {% endif %}
                            {% if equipment.TRINKET_1.sockets %}
                                {% for socket in equipment.TRINKET_1.sockets %}
                                    <div class="equipment-slot-text"><img src="{% static 'wowprof/images/UI-EmptySocket-Prismatic.png' %}"></div>
                                {% endfor %}
                            {% endif %}
                            <div class="equipment-slot-text">{{ equipment.TRINKET_1.item_level }}</div>
                        </div>
                    </div>
                    <div class="equipment-slot">
                    {% if equipment.TRINKET_1 %}
                        <img class="{{ equipment.TRINKET_1.quality|slug }}" src="{{ equipment.TRINKET_1.equipment.icon }}">
                    {% else %}
                        <img src="{% static 'wowprof/images/paperdoll/UI-PaperDoll-Slot-Trinket.png' %}">
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="equipment-slot">
                        <div>{{ equipment.TRINKET_2.equipment.name }}</div>
                        <div>
                            {% if equipment.TRINKET_2.enchants %}
                                {% for enchant in equipment.TRINKET_2.enchants %}
                                    <div class="equipment-slot-text enchant">{{ enchant.display_string }}</div>
                                {% endfor %}
                            {% endif %}
                            {% if equipment.TRINKET_2.sockets %}
                                {% for socket in equipment.TRINKET_2.sockets %}
                                    <div class="equipment-slot-text"><img src="{% static 'wowprof/images/UI-EmptySocket-Prismatic.png' %}"></div>
                                {% endfor %}
                            {% endif %}
                            <div class="equipment-slot-text">{{ equipment.TRINKET_2.item_level }}</div>
                        </div>
                    </div>
                    <div class="equipment-slot">
                    {% if equipment.TRINKET_2 %}
                        <img class="{{ equipment.TRINKET_2.quality|slug }}" src="{{ equipment.TRINKET_2.equipment.icon }}">
                    {% else %}
                        <img src="{% static 'wowprof/images/paperdoll/UI-PaperDoll-Slot-Trinket.png' %}">
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 60px">
        <div class="col-6" style="text-align: right">
            <div>
                <div class="equipment-slot">
                    <div>{{ equipment.MAIN_HAND.equipment.name }}</div>
                    <div>
                        {% if equipment.MAIN_HAND.enchants %}
                            {% for enchant in equipment.MAIN_HAND.enchants %}
                                <div class="equipment-slot-text enchant">{{ enchant.display_string }}</div>
                            {% endfor %}
                        {% endif %}
                        {% if equipment.MAIN_HAND.sockets %}
                            <div class="equipment-slot-text">SOCKET</div>
                        {% endif %}
                        <div class="equipment-slot-text">{{ equipment.MAIN_HAND.item_level }}</div>
                    </div>
                </div>
                <div class="equipment-slot">
                {% if equipment.MAIN_HAND %}
                    <img class="{{ equipment.MAIN_HAND.quality|slug }}" src="{{ equipment.MAIN_HAND.equipment.icon }}">
                {% else %}
                    <img src="{% static 'wowprof/images/paperdoll/UI-PaperDoll-Slot-MainHand.png' %}">
                {% endif %}
                </div>
            </div>
        </div>
        <div class="col-6" style="text-align: left">
            <div>
                <div class="equipment-slot">
                {% if equipment.OFF_HAND %}
                    <img class="{{ equipment.OFF_HAND.quality|slug }}" src="{{ equipment.OFF_HAND.equipment.icon }}">
                {% else %}
                    <img src="{% static 'wowprof/images/paperdoll/UI-PaperDoll-Slot-SecondaryHand.png' %}">
                {% endif %}
                </div>
                <div class="equipment-slot">
                    <div>{{ equipment.OFF_HAND.equipment.name }}</div>
                    <div>
                        <div class="equipment-slot-text">{{ equipment.OFF_HAND.item_level }}</div>
                        {% if equipment.OFF_HAND.sockets %}
                            <div class="equipment-slot-text">SOCKET</div>
                        {% endif %}
                        {% if equipment.OFF_HAND.enchants %}
                            {% for enchant in equipment.OFF_HAND.enchants %}
                                <div class="equipment-slot-text enchant">{{ enchant.display_string }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
