body{
    background-color: lightgrey;
}

a{
    color:#05D22C;
}

/*div{
    border: solid;
    border-color: yellow;
}
div.row{
    border-color: orange;
}*/

.row{
    border: none;
}

.equipment-slot{
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

.equipment-slot-text{
    display: inline;
}

.enchant{
    color: green;
}

.body-content {
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 20px;
    background-color: grey;
}

th, td {
    padding: 5px;
    text-align: center;
}

.alt-profession-table{
    width: 25%;
}

.alt-profession-table th{
    background-color: #5A5656;
}

.alt-profession-table td {
    padding:0px;
}

#alts-table{
    counter-reset:row-num -1;
}
#alts-table th{
  cursor: pointer;
}
#alts-table tr{
    counter-increment:row-num;
}
#alts-table tr td:first-child::before{
    content:counter(row-num);
}

#req-alts-table{
    counter-reset:row-num -1;
}
#req-alts-table th{
  cursor: pointer;
}
#req-alts-table tr{
    counter-increment:row-num;
}
#req-alts-table tr td:first-child::before{
    content:counter(row-num);
}

.prof-req-alts-table{
    counter-reset:row-num -1;
}
.prof-req-alts-table th{
  cursor: pointer;
}
.prof-req-alts-table tr{
    counter-increment:row-num;
}
.prof-req-alts-table tr td:first-child::before{
    content:counter(row-num);
}

#alt-more-details-table {
    width: 70%;
}

.Warrior{
    background-color: #C79C6E;
}
.Paladin{
    background-color: #F58CBA;
}
.Hunter{
    background-color: #ABD473;
}
.Rogue{
    background-color: #FFF569;
}
.Priest{
    background-color: #FFFFFF;
}
.Shaman{
    background-color: #0070DE;
}
.Mage{
    background-color: #69CCF0;
}
.Warlock{
    background-color: #9482C9;
}
.Monk{
    background-color: #00FF96;
}
.Druid{
    background-color: #FF7D0A;
}
.DemonHunter{
    background-color: #A330C9;
}
.DeathKnight{
    background-color: #C41F3B;  
}

.Yes{
    background-color: #4CE87C;
}
.No{
    background-color: #E74343;
}

.btn-secondary{
    margin:0 10px 0 10px;
}

.row{
    margin:0 10px 0 10px;
}

img[src=""] { 
    display: none;
}


.uncommon{
    border: ridge;
    border-color: #FFFFFF;
    border-width: 4px;
    border-radius: 4px;
}
.common{
    border: ridge;
    border-color: #1EFF00;
    border-width: 4px;
    border-radius: 4px;
}
.rare{
    border: ridge;
    border-color: #0070DD;
    border-width: 4px;
    border-radius: 4px;
}
.epic{
    border: ridge;
    border-color: #A335EE;
    border-width: 4px;
    border-radius: 4px;
}
.legendary{
    border: ridge;
    border-color: #FF8000;
    border-width: 4px;
    border-radius: 4px;
}
.artifact{
    border: ridge;
    border-color: #E6CC80;
    border-width: 4px;
    border-radius: 4px;
}
.heirloom{
    border: ridge;
    border-color: #00CCFF;
    border-width: 4px;
    border-radius: 4px;
}

/*#bgtest{
     background-image: url('../images/paperdoll/UI-PaperDoll-SlotBackground.png');
}*/